:root {
  --basic-white: #fff;
  --basic-black: #000;
  --basic-blue: #81B3D2;
  --form-brown: #766357;
  --basic-grey: #eee;
  --basic-brown: #333;
  --hotels-grey: #E5E5E5;
}

body {
  min-width: 960px;
  margin: 10px;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-brown);
  text-transform: uppercase;
  background-color: var(--basic-white);
  text-align: center;
}
h1 {
  color: var(--basic-white);
  font-size: 30px;
}

h2{
  line-height: 26px;
  color: var(--basic-black);
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black)
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  
}

.site-navigation {
  font-weight: bold;
  color: var(--basic-black);
}

.advantages-1,
.advantages-2 {
  font-size: 21px;
  line-height: 21px;
  background: var(--basic-blue);
  color: var(--basic-white);
  position: absolute;
}

.advantages-1 p,
.advantages-2 p{
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  position: absolute;
}

.advantages-3,
.advantages-4,
.advantages-5,
.advantages-home,
.advantages-eat,
.advantages-souvenirs {
color: var(--basic-brown);
font-size: 14px;
line-height: 21px;
}
