:root {
  --basic-white: #fff;
  --basic-black: #000;
  --basic-blue: #81B3D2;
  --button-brown: #766357;
  --basic-grey: #eee;
  --basic-brown: #333;
  --hotels-grey: #E5E5E5;
  --hotels-rating: #F2F2F2;
  --hotels-text-rating: #666666;
  --basic-blue-hover: #669EC0;
  --basic-blue-active: #5496BD;
  --button-brown-hover: #604E43;
  --button-brown-active: #503E33;
}

body {
  min-width: 960px;
  max-width: 1200px;
  margin: 10px;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-brown);
  text-transform: uppercase;
  background-color: var(--basic-white);
  text-align: center;
}

.h1 {
  color: var(--basic-white);
  font-size: 30px;
}

.h2{
  line-height: 26px;
  color: var(--basic-black);
}

.h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black)
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.site-navigation a {
  font-weight: bold;
  color: var(--basic-black);
}

.site-navigation a:visited {
  color: var(--button-brown);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 30%;
}

.advantages-1 h3,
.advantages-2 h3 {
  color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  background: var(--basic-blue);
}

.advantages-1,
.advantages-2 {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background: var(--basic-blue);
}

.advantages-3,
.advantages-4,
.advantages-5,
.advantages-home,
.advantages-eat,
.advantages-souvenirs {
color: var(--basic-brown);
font-size: 14px;
line-height: 21px;
}

.advantages-3-4-5 {
  background: var(--basic-grey);
}

.dont-see{
display: none;
}

.question {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}

.search-hotels button {
   background: var(--button-brown);
  height: 86px;
  width: 568px;
  color:var(--basic-white);
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
}

.form-search {
  background: var(--basic-blue);
  height: 58px;
  width: 458px;
  color:var(--basic-white);
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
}

.footer {
  font-weight: bold;
  color: var(--basic-black);
}

      /* Страница №2*/

.hotels-form {
  background: var(--basic-blue);
  color: var(--basic-white);
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}


.search-3 {
  line-height: 26px;
  color:var(--basic-black);
  font-weight: bold;
  font-size: 21px;
}

.sorting {
  color: var(--basic-black);
  font-size: 12px;
  line-height: 18px;
}

.price-by {
  font-size: 12px;
  color: var(--basic-blue);
  line-height: 18px;
}

.type-by a,
.rating-by a {
  font-size: 12px;
  color: var(--basic-black);
  line-height: 18px;
  opacity: 0.3;
  border-bottom: 1px dashed;
  border-color: var(--basic-blue);
}

.type-by a:active,
.rating-by a:active {
  color: var(--basic-black);
  border: none;
  opacity: 1;
}

.direction {
 border: none;
 outline: none;
 background: none;
}

.hotel-info {
  color: var(--basic-white);
  background: var(--basic-blue);
  line-height: 21px;
  font-size: 14px;
  font-weight: bold;
}

.hotel-info:hover {
  background: var(--basic-blue-hover);
}

.hotel-info:active {
  opacity: 1;
  background: var(--basic-blue-active);
}

.buy {
  color: var(--basic-white);
  background: var(--button-brown);
  line-height: 21px;
  font-size: 14px;
  font-weight: bold;
}

.buy:hover {
  background: var(--button-brown-hover);
}

.buy:active {
  background: var(--button-brown-active);
  opacity: 1;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  background: var(--hotels-rating);
  color: var(--hotels-text-rating);
  text-align: right;
}

.star{
  color: var(--basic-blue);
}

.stars {
  font-size: 0;
}

.site-navigation a:hover,
.name-hotels:hover,
.type-by a:hover,
.rating-by a:hover,
.academy:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.name-hotels{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}
